@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Admin Dashboard";
}
@model List<FinalProject.Models.ProductCategory>

<h2 class="admin-title">📂 Categories</h2>

<a href="/Admin/CreateCategory" class="admin-btn">➕ Add Category</a>

<div class="table-responsive">
    <table class="admin-table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>

        @foreach (var c in Model)
        {
            <tr>
                <td>@c.CateID</td>
                <td>@c.CateName</td>
                <td>
                    <a href="/Admin/EditCategory/@c.CateID" class="admin-btn">Edit</a>
                    <a href="/Admin/DeleteCategory/@c.CateID" class="admin-btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>