@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Admin Dashboard";
}

@model FinalProject.Models.Product

<h2>Edit Product</h2>

<form asp-action="EditProduct" method="post">

    <input type="hidden" asp-for="ProductID" />

    <div>
        <label>Name</label>
        <input asp-for="ProductName" />
    </div>

    <div>
        <label>Price</label>
        <input asp-for="Price" />
    </div>

    <div>
        <label>Image</label>
        <input asp-for="Image" />
    </div>

    <div>
        <label>Category</label>
        <select asp-for="CateID">

            @foreach (var c in ViewBag.Categories)
            {
                <option value="@c.CateID">
                    @c.CateName
                </option>
            }

        </select>
    </div>

    <br />

    <button type="submit">Update</button>

</form>