@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Admin Dashboard";
}
<a href="/Admin" class="btn btn-secondary mb-2">
    ← Back
</a>

<h2 class="admin-title">Revenue</h2>

<div class="admin-revenue">
    @ViewBag.TotalRevenue VNĐ
</div>
