@model FinalProject.Models.SystemSetting

<h2>System Settings</h2>

<form method="post">

    <label>Site Name</label>
    <input asp-for="SiteName" />

    <label>Email</label>
    <input asp-for="Email" />

    <label>Shipping Fee</label>
    <input asp-for="ShippingFee" />

    <button>Save</button>

</form>
