@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Admin Dashboard";
}
<h2 class="admin-title">⚙️ Settings</h2>

<div class="admin-form">
    <label>Website Name</label>
    <input class="admin-input" />

    <label>Email</label>
    <input class="admin-input" />

    <br /><br />
    <button class="admin-btn">Save</button>
</div>