@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Admin Dashboard";
}
@model List<FinalProject.Models.User>

<h2 class="admin-title">👤 User Management</h2>

<div class="admin-grid">
    <div class="admin-card">
        <h3>Total Users</h3>
        <h2>@Model.Count</h2>
    </div>
</div>

<div class="table-responsive">
    <table class="admin-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <input type="text" id="searchUser" placeholder="Search user..." class="admin-input" />
        
        <tbody>
            @foreach (var u in Model)
            {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.FullName</td>
                    <td>@u.Email</td>

                    <td>
                        @if (u.IsBanned)
                        {
                            <span class="admin-badge badge-danger">Banned</span>
                        }
                        else
                        {
                            <span class="admin-badge badge-success">Active</span>
                        }
                    </td>

                    <td>
                        @if (!u.IsBanned)
                        {
                            <a href="/Admin/LockUser/@u.Id" class="admin-btn-danger">Lock</a>
                        }
                        else
                        {
                            <a href="/Admin/UnlockUser/@u.Id" class="admin-btn">Unlock</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    document.getElementById("searchUser").addEventListener("keyup", function () {
        let value = this.value.toLowerCase();
        let rows = document.querySelectorAll("#userTable tr");

        rows.forEach(row => {
            row.style.display =
                row.innerText.toLowerCase().includes(value) ? "" : "none";
        });
    });
</script>