<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalProject</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalProject.styles.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&family=Inter:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <nav class="navbar custom-navbar">

            <!-- LOGO LEFT -->
            <a class="navbar-brand"
               asp-controller="Home"
               asp-action="Index">
                Fashion Web
            </a>

            <!-- LOGIN RIGHT -->
            <div class="login-right">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#"
                           onclick="openLoginPopup()">
                            Login
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>


    <!-- LOGIN POPUP -->
    <div id="loginPopup" class="login-popup">
        <div class="login-popup-box">

            <h4>Do you already have an account?</h4>

            <div class="login-popup-btns">

                <a href="/Account/Login"
                   class="btn btn-dark">
                    Have ? Log in
                </a>

                <a href="/Account/Register"
                   class="btn btn-outline-dark">
                    Not yet ? Register
                </a>

            </div>

            <span onclick="closeLoginPopup()" class="close-popup">
                ?
            </span>

        </div>
    </div>


    <script>
        function openLoginPopup() {
            document.getElementById("loginPopup").style.display = "flex";
        }

        function closeLoginPopup() {
            document.getElementById("loginPopup").style.display = "none";
        }
    </script>

</body>
</html>