<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalProject</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalProject.styles.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&family=Inter:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <nav class="navbar custom-navbar">
            @* container-fluid giup nd tran ra hai mep, justify-content-between push 2 div con ve 2 phia *@
            <div class="container-fluid d-flex justify-content-between align-items-center">

                <div class="nav-left">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        Fashion Web
                    </a>
                </div>

                <div class="nav-right">
                    @await Html.PartialAsync("_LoginPartial")
                </div>

            </div>
        </nav>
    </header>

    <div class="container">
        
        @if (TempData["SuccessMsg"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessMsg"]</div>
        }
        @if (TempData["ErrorMsg"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMsg"]</div>
        }
        
        @RenderBody()
    </div>


    <!-- LOGIN POPUP -->
    <div id="loginPopup" class="login-popup">
        <div class="login-popup-box">

            <h4>Choose an option</h4>

            <div class="login-popup-btns">

                <a href="/Account/Register"
                       class="btn btn-dark">
                    Don't have an account? Register
                </a>

                <a href="/Account/Login"
                       class="btn btn-outline-dark">
                    Already have an account? Login
                </a>

            </div>

            <span onclick="closeLoginPopup()" class="close-popup">
                ×
            </span>

        </div>
    </div>

    <script>
            function openLoginPopup() {
                document.getElementById("loginPopup").style.display = "flex";
            }

            function closeLoginPopup() {
                document.getElementById("loginPopup").style.display = "none";
            }
                function updateCartCount() {
                    fetch('/Cart/GetCartCount')
                        .then(res => res.json())
                        .then(data => {
                            document.querySelector('.cart-badge').innerText = data.count;
                        });
                }

        // Chạy khi vừa load trang
        document.addEventListener("DOMContentLoaded", updateCartCount);
    </script>

    <a href="/Cart" class="floating-cart">
        <span class="cart-icon">🛒</span>
        <span class="cart-badge">0</span>
    </a>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
