<h2>Login</h2>

<form method="post">
    <input name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <button type="submit">Login</button>
</form>

<p style="color:red">@ViewBag.Error</p>

<br>

<a href="/Account/GoogleLogin">
    Login with Gmail
</a>

<br>

<a href="/Account/Register">
    Register
</a>