<h2>Reset Password</h2>

<form method="post">

    <div>
        New Password
        <input type="password" name="newPassword" required />
    </div>

    <button type="submit">Reset Password</button>

</form>