<form method="post" action="/Checkout/Checkout">

    <h3>Thanh toán</h3>

    <input type="radio" name="paymentMethod" value="COD" checked />
    COD

    <br />

    <input type="radio" name="paymentMethod" value="MOMO" />
    MoMo

    <br /><br />

    <button type="submit">Thanh toán</button>

</form>