@{
    ViewData["Title"] = "Home";
}

<!-- HERO -->

<section class="hero">

    <div class="hero-content">

        <h1>NEW COLLECTION 2026</h1>
        <p>Minimal • Streetwear • Local Brand</p>

        <a href="/Product" class="hero-btn">
            SHOP NOW
        </a>
    </div>

</section>

<!-- FEATURED -->

<section class="featured">

    <h2>Featured Products</h2>

    <div class="product-grid">

        <div class="product-card">
            <img src="/assets/arrival-3.jpg">
            <h3>Oversize Tee</h3>
            <p>320.000đ</p>
        </div>

        <div class="product-card">
            <img src="/assets/arrival-1.jpg">
            <h3>Street Hoodie</h3>
            <p>520.000đ</p>
        </div>

        <div class="product-card">
            <img src="/assets/arrival-2.jpg">
            <h3>Basic Jacket</h3>
            <p>790.000đ</p>
        </div>

    </div>

</section>

<!-- BANNER -->

<section class="banner">

    <div class="banner-content">
        <img src="/assets/banner-1.png" />
        <h2>SUMMER SALE</h2>
        <p>Up to 40% off</p>
        <a href="/Product" class="hero-btn">Explore</a>
       
    </div>

</section>